{% extends 'student/base.html' %} 
{% load static %} 
{% block content %}
<style>
  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  body {
    position: relative;
    background: linear-gradient(45deg, #00ff87, #60efff);
  }
  .Scroll {
    overflow-y: auto;
    height: calc(100% - 16px); /* Adjust the height as needed */
    padding: 8px;
  }
  .container {
    position: relative;
  }
  .shelf {
    height: 8px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 10px solid #56251a;
  }
  .shelf:hover {
    animation: shelf-lift 0.5s ease;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    cursor: pointer;
  }
  .shelf:hover .book {
    animation: book-bounce 0.5s ease;
    animation-iteration-count: 1;
  }
  .book {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    font-size: 20px;
    overflow: hidden;
    line-height: 15%;
    text-align: center;
    font-weight: lighter;
  }
  .book:before {
    content: "";
    color: #111111;
  }
  .book:nth-child(odd):before {
    content: "---";
    color: #eeeeee;
  }
  .book:nth-child(1) { height: 63px; width: 9px; background-color: #ffc0cb; }
  .book:nth-child(2) { height: 70px; width: 11px; background-color: #78d663; }
  .book:nth-child(3) { height: 44px; width: 9px; background-color: #f6c9b9; }
  .book:nth-child(4) { height: 45px; width: 8px; background-color: #52aca2; }
  .book:nth-child(5) { height: 59px; width: 9px; background-color: #a52a5e; }
  .book:nth-child(6) { height: 60px; width: 8px; background-color: #aa5e40; }
  .book:nth-child(7) { height: 62px; width: 11px; background-color: #666666; }
  .book:nth-child(8) { height: 52px; width: 9px; background-color: #aa5e40; }
  .book:nth-child(9) { height: 70px; width: 8px; background-color: #999999; }
  .book:nth-child(10) { height: 61px; width: 11px; background-color: #e9d7c7; }
  .book:nth-child(11) { height: 61px; width: 10px; background-color: #cdcdd2; }
  .book:nth-child(12) { height: 62px; width: 10px; background-color: #e9d7c7; }
  .book:nth-child(13) { height: 65px; width: 9px; background-color: #f6c9b9; }
  .book:nth-child(14) { height: 65px; width: 10px; background-color: #000000; }
  .book:nth-child(15) { height: 64px; width: 8px; background-color: #489cbd; }
  .book:nth-child(16) { height: 65px; width: 8px; background-color: #dbdcff; }
  .book:nth-child(17) { height: 55px; width: 10px; background-color: #ff9966; }
  .book:nth-child(18) { height: 43px; width: 8px; background-color: #aa5e40; }
  .book:nth-child(19) { height: 42px; width: 10px; background-color: #bada55; }
  .book:nth-child(20) { height: 47px; width: 10px; background-color: #999999; }

  * {
    box-sizing: border-box;
  }

  .header {
    text-align: center;
    padding: 32px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }

  .btn:hover {
    background-color: #ddd;
  }

  .btn.active {
    background-color: #666;
    color: white;
  }

  @keyframes book-bounce {
    0% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    80% { transform: translateY(-2px); }
    100% { transform: translateY(0); }
  }

  @keyframes shelf-lift {
    0% { transform: translateY(0) rotate(0); }
    20% { transform: translateY(-5px) rotate(2deg); }
    40% { transform: translateY(-10px) rotate(0); }
    60% { transform: translateY(-10px) rotate(-2deg); }
    80% { transform: translateY(-5px) rotate(-1deg); }
    100% { transform: translateY(0); }
  }
</style>
<body>
  <div class="Scroll">
    <div class="container mt-5">
      <!-- Create a title "Library Management System" -->
      <div class="row">
        <div class="col-md-12">
          <br />
          <br />
          <h1 class="text-center">LIBRARY</h1>
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>

      <div class="shelf">
        {% for _ in "12345678901234567890" %}
          <div class="book"></div>
        {% endfor %}
        <br />
        <br />
        <br />

        <p style="text-align: center">Welcome to our library.</p>
        <p style="text-align: center">We have a wide range of books.</p>
        <p style="text-align: center">You can borrow books from our library.</p>
        <p style="text-align: center">You can also return books to our library.</p>
        <p style="text-align: center">We hope you enjoy your stay.</p>
      </div>

      <!-- Header -->
      <div class="header" id="myHeader">
        <h1>Books</h1>
        <p>Click on the buttons to change the view.</p>
        <button class="btn" onclick="one()">1</button>
        <button class="btn active" onclick="two()">2</button>
        <button class="btn" onclick="four()">4</button>
      </div>

      <!-- Photo Grid -->
      <div class="row">
        <div class="column">
          <img src="{% static 'C:\Django\bookapp\static\css\html5.png' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\css3.png' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\django.jpg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\python.jpg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\java.png' %}" style="width:100%">

        </div>
        <div class="column">
          <img src="{% static 'C:\Django\bookapp\static\css\aws.jpg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\ms azure.webp' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\js.png' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\node.jpeg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\cs.jpg' %}" style="width:100%">

        </div>  
        <div class="column">
          <img src="{% static 'C:\Django\bookapp\static\css\bi.jpg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\linux.webp' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\c++.webp' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\bs.jpg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\aj.jpg' %}" style="width:100%">
         
        </div>
         <div class="column"> 
          <img src="{% static 'C:\Django\bookapp\static\css\cc.jpg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\ml.png' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\ai.lpg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\cn.jpg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\mysql.jpeg' %}" style="width:100%">
          <img src="{% static 'C:\Django\bookapp\static\css\mongodb.jpeg' %}" style="width:100%">
        </div>
      </div>
    </div>
  </div>
  <script>
    // Get the elements with class="column"
    var elements = document.getElementsByClassName("column");
    
    // Declare a loop variable
    var i;
    
    // Full-width images
    function one() {
      for (i = 0; i < elements.length; i++) {
        elements[i].style.msFlex = "100%";  // IE10
        elements[i].style.flex = "100%";
      }
    }
    
    // Two images side by side
    function two() {
      console.log("--",elements.length);
      for (i = 0; i < elements.length; i++) {
        elements[i].style.msFlex = "50%";  // IE10
        elements[i].style.flex = "50%";
      }
    }
    
    // Four images side by side
    function four() {
      console.log("--",elements.length);
      for (i = 0; i < elements.length; i++) {
        elements[i].style.msFlex = "20%";  // IE10
        elements[i].style.flex = "20%";
      }
    }
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myHeader");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  </script>
</body>
{% endblock %}
